* {
    box-sizing: border-box;
}

/* Aadd linear gradient */
.weather-header {
    width: 100%;
    background-color: navy;
    height: 100px;
    margin: 0;
    padding: 0;
}

.weather-header h1 {
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    color: white;
    font-family: roboto;
}